{% extends "manager_base.html" %}
{% block title %}Piquant - Update Info{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<br>

<h1 class="display-4">Update Password</h1>

<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.oldpassword, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.newpassword, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.cfmnewpassword, class="form-control") }}
  </div>
<br>
  {{msg}}
<br>

  <input type="submit" value="Submit" class="btn btn-success"/>
</form>
{% endblock %}
