<br>
<div class="container-fluid footer">
    <footer>
        <div class="row">
            <div class="col-sm-4">
                <p>
                    Quick Links <br>
                </p>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <p>
                    Address: <br>
                    127 River Valley Road <br>
                    #01-37 <br>
                </p>
                <p>
                    Contact: <br>
                    Phone: 6323 3456 <br>
                    Email: piquant@gmail.com
                </p>
            </div>
        </div>
    </footer>
</div>
