<html>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light" >
<!-- Links -->
  <p class="navbar-brand"> Hello {{session['stafflogged']}} </p>
  <ul class="navbar-nav wholenavbar">

    <li class="nav-item">
      <a class="nav-link" href="{{url_for('retrieve_reserve')}}"> Retrive Reserve User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="{{url_for('orderpagestaff')}}"> Retrive Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="{{url_for('staffadditem')}}"> Edit Menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="{{url_for('retrieve_Members')}}"> Retrive Members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="{{url_for('referal_codes')}}"> Loyalty Codes </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle navbaritem" href="#" data-toggle="dropdown">
        Account Setting
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{url_for('update_staff', toupdate=session['stafflogged'])}}">Change Info</a>
        <a class="dropdown-item" href="{{url_for('Changepass_staff')}}">Change Password</a>
        <a class="dropdown-item" href="{{url_for('showacctsecfavpic')}}">Account Recovery</a>
        <a class="dropdown-item" href="{{url_for('account_2fa')}}">2FA Option </a>
        <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
      </div>

  </ul>
</nav>
</body>
</html>
