{% extends "base.html" %}
{% block title %}Piquant - Pic Upload{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<br>
<h1 class="display-4">Security Question</h1>

<h4> Upload Your Favourite Pic Here: (Only Jpg Files Are Allowed, Max 50 MB) </h4>

<form method="POST" action="" enctype="multipart/form-data" id="Setfavpicform" >
    <div class="form-group">
        {{ render_field(form.chosensecqn, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.pic1, class="form-control-file") }}
    </div>
    <div class="form-group">
        {{ render_field(form.pic2, class="form-control-file") }}
    </div>
    <div class="form-group">
        {{ render_field(form.pic3, class="form-control-file") }}
    </div>
    <div class="form-group">
        {{ render_field(form.pic4, class="form-control-file") }}
    </div>
    <div class="form-group">
        {{ render_field(form.pic5, class="form-control-file") }}
    </div>
    <div class="form-group">
        {{ render_field(form.pic6, class="form-control-file") }}
    </div>
    <div class="form-group">
        {{ render_field(form.pic7, class="form-control-file") }}
    </div>
    <div class="form-group">
        {{ render_field(form.pic8, class="form-control-file") }}
    </div>
    <div class="form-group">
        {{ render_field(form.pic9, class="form-control-file") }}
    </div>
    <div class="form-group">
        {{ render_field(form.pic10, class="form-control-file") }}
    </div>
    <p> Which Is Your Favourite Picture? </p>
    <table>
        {% for subfield in form.picchose %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
  </table>
  <br>
  <input type="submit" value="Submit" class="btn btn-success"/>
</form>
<br>
{{msg}}
<br>
{% if 'stafflogged' in session %}
<a href="{{url_for('staffpage')}}"> <button class="btn btn-danger"> Back </button></a>
{% else %}
<a href="{{url_for('referral', referral_state=' ')}}"> <button class="btn btn-danger"> Back </button></a>
{% endif %}
<script src="{{url_for('static',filename = 'Javascript/Uploadfavpicvalidate.js')}}"></script>
{% endblock %}
