{% extends "base.html" %}
{% block title %}Piquant - Update Info{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<link rel="stylesheet" href="{{url_for('static', filename='css/validation.css')}}">
<br>
<h1 class="display-4">Update Details</h1>

<form method="POST" action="" id="changepass">
  <div class="form-group">
    {{ render_field(form.oldpassword, class="form-control") }}
  </div>
  <div class="form-group">
    <label for="password">
    {{ render_field(form.newpassword, class="form-control") }}
    <ul class="input-requirements">
					<li>At least 8 characters long (and less than 100 characters)</li>
					<li>Contains at least 1 number</li>
					<li>Contains at least 1 lowercase letter</li>
					<li>Contains at least 1 uppercase letter</li>
					<li>Contains a special character (e.g. @ !)</li>
				</ul>
      </label>
  </div>
  <div class="form-group">
    <label for="confirm">
    {{ render_field(form.cfmnewpassword, class="form-control") }}
    <ul class="input-requirements">
          <li>Password needs to match the above password</li>
      </ul>
    </label>
  </div>
<br>
  {{msg}}
<br>
  <input type="submit" value="Submit" class="btn btn-success"/>
</form>

<script src="{{url_for('static',filename = 'Javascript/ChangePassScript.js')}}"></script>
{% endblock %}
