<!-- Audit -->
{% extends "base.html" %}
{% block title %}Piquant - Member Audit{% endblock %}

{% block content %}
<br>
{% from "includes/_formHelper.html" import render_field %}
<div class="audit">
     <h1 class="display-4">Member Audit</h1>
   <br>
  <table id="myTable">
    <tr class="header">
      <th>Member Name</th>
        <th>Email</th>
      <th>Login Time</th>
      <th>Logout Time</th>
      <th>Password</th>
      <th>Password expiry</th>
      <th>Password status</th>
        <th>Action</th>
    </tr>

     {% for user in audit %}
      {% if user['email'] == email %}
      <tr>
        <td>{{user['full_name']}}</td>
          <td>{{user['email']}}</td>
        <td>{{user['login_time']}}</td>
        <td>{{user['logout_time']}}</td>
        <td>{{user['password']}}</td>
        <td>{{user['pwd_expiry']}}</td>
        <td>{{user['password_status'] }}</td>
          <td>{{user['action']}}</td>
      </tr>
      {% endif %}
     {% endfor %}
   </table>
 </div>
  <a href="{{url_for('mem_home') }}"> <button class="btn btn-danger"> Back </button></a>

{% endblock %}

