{% extends 'base.html'%}
{% block title %}Piquant - Staff Retrieve Users{% endblock %}

{% block content %}
<br>
{% block staffnavbar %}
    {% if 'manager_id' in session %}
        {% include 'Includes/Manager_navbar.html' %}
     {% else %}
        {% include 'Includes/Staff_navbar.html' %}
     {% endif %}
    {% endblock %}
<h1 class="display-4">Retrieve Users</h1>
<div>
  {% if count == 0 %}
  <p>There are no users.</p>
  {% elif count == 1 %}
  <p>There is 1 user.</p>
  {% else %}
  <p>There are {{ count }} users.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Sign Up Date</th>
        <th>Current Membership Level</th>
        <th>Current Membership Completion</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for user in users_list %}
      <tr>
        <td>{{ user['full_name'] }}</td>
        <td>{{ user['email']  }}</td>
        <td>{{ user['phone_num'] }}</td>
        <td>{{ user['sign_up_date'] }}</td>
        <td>{{ user['member_level'] }}</td>
        <td>{{ user['member_completion'] }}</td>
        <td><a href="/updateMemberstaff/{{user['email']}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_Member', mememail=user['email'])}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{user['full_name']}}?');">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    <a href="{{url_for('staffpage')}}"> <button class="btn btn-danger"> Back </button></a>
</div>

{% endblock %}
