{% extends "base.html" %}
{% block title %}Piquant - Staff Edit Menu{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
{% block staffnavbar %}
    {% if 'manager_id' in session %}
        {% include 'Includes/Manager_navbar.html' %}
     {% else %}
        {% include 'Includes/Staff_navbar.html' %}
     {% endif %}
    {% endblock %}
<br>


<h1 class="display-4">Edit Item</h1>
<form action="" method="post">
  <div class="form-group">
    {{ render_field(form.itemcode, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.itemname, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.itemdesc, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.itemprice, class="form-control") }}
  </div>
  <input type="submit" value="Submit" class="btn btn-success"/>
</form>
<br>
{{msg}}
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Item Type</th>
      <th>Item Code</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td> Starters </td>
    <td> SXXX </td>
  </tr>
  <tr>
    <td> Mains </td>
    <td> MXXX </td>
  </tr>
  <tr>
    <td> Desserts </td>
    <td> DXXX </td>
  </tr>
  <tr>
    <td> Drinks </td>
    <td> EXXX </td>
  </tr>
  <tr>
    <td> Wines </td>
    <td> WXXX </td>
  </tr>
  </tbody>
</table>
<a href="{{url_for('retrieve_Members')}}"> <button class="btn btn-danger"> Back </button></a>
{% endblock %}
