{% extends "base.html" %}
{% block title %} Piquant - Staff Cart {% endblock %}

{% block content %}
<br>
{% block staffnavbar %}
    {% if 'manager_id' in session %}
        {% include 'Includes/Manager_navbar.html' %}
     {% else %}
        {% include 'Includes/Staff_navbar.html' %}
     {% endif %}
    {% endblock %}
<h1 class="display-4"> Orders </h1>
<p> <br> Current Table Number Assigned: {{session['tablenum']}} </p>
<a href = "{{url_for('changetable', state='F')}}"> <button class="btn btn-danger"> Decrease Table Num </button> </a>
<a href = "{{url_for('changetable', state='T')}}"> <button class="btn btn-success"> Increase Table Num </button> </a>
<br>
<br>
<h3> All Orders </h3>
<!-- Display Only if there is at least 1 table -->
{% if counttable|length > 0 %}
<!-- Order from all tables -->
{% for a in counttable %}
<div>
    <p> </p>
    <p> Table: {{ a['table_num'] }} </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <td> Order Number </td>
                <td> Item Code </td>
                <td> Item </td>
                <td> Status </td>
                <td> Action </td>
            </tr>
        </thead>
        <tbody>
            {% for b in allorders %}
            <tr>
                {% if b['table_num'] == a['table_num']|string %}
                <td> {{ b['order_num'] }} </td>
                <td> {{ b['item_code'] }} </td>
                <!-- To look for Item Name -->
                {% for d in iteminfo %}
                {% if d['item_code'] == b['item_code'] %}
                <td> {{ d['item_name'] }} </td>
                {% endif %}
                {% endfor %}
                <td> {{b['status']}}</td>
                <td> <a href="/stateorderpage_staff/{{b['order_num']}}"> <button class="btn btn-success"> Served </button> </a></td>
                 <!-- Delete -->
                <td> <a href="/delorderpage_staff/{{b['order_num']}}"> <button class="btn btn-danger"> Delete </button> </a> </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endfor %}
{% endif %}
<a href="{{url_for('staffpage')}}"> <button class="btn btn-danger"> Back </button></a>
{% endblock %}
