{% extends "base.html" %}
{% block title %} Piquant - Cart {% endblock %}

{% block content %}
<h1 class="display-4 textcenter"> Cart</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td> Item Code </td>
                <td> Item </td>
                <td> Quanity </td>
                <td> Price </td>
                <td> Action </td>
            </tr>
        </thead>
        <tbody>
            {% for a in order_list %} <!-- Order from all tables -->
            <tr>
                <td> {{ a['item_code'] }} </td>
                {% for b in iteminfo %}
                {% if b['item_code'] == a['item_code'] %}
                <td> {{ b['item_name'] }} </td>
                <td> {{ a['quantity'] }} </td>  <!-- Quanity -->
                <td> $ {{ b['item_price'] * a['quantity'] }} </td>  <!-- Price -->
                <td> <a href="/deleteitem/{{a['order_num']}}"> <button class="btn btn-danger"> Delete </button> </a> </td> <!-- Delete -->
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="button">
        <a href = "{{url_for('orderpage1')}}"> <button class="btn btn-danger"> Back </button> </a>
        &nbsp;
        <a href = "{{url_for('submit')}}"> <button class="btn btn-success"> Confirm </button> </a>
    </div>
    <br>
    <h1 class="display-4 textcenter"> Past Order </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td> Item Code </td>
                <td> Item </td>
                <td> Quantity </td>
                <td> Price </td>
            </tr>
        </thead>
        <tbody>
            {% for c in oldorder_list %} <!-- Order from all tables -->
            <tr>
                <td> {{ c['item_code'] }} </td>
                {% for d in iteminfo %}
                {% if d['item_code'] == c['item_code'] %}
                <td> {{ d['item_name'] }} </td>
                <td> {{ c['quantity'] }} </td>  <!-- Quanity -->
                <td> $ {{ d['item_price'] * c['quantity'] }} </td>  <!-- Price -->
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <p class="cartprice"> Current Total: $ {{ total }} </p>
</div>
{% endblock %}
