{% extends "base.html" %}
{% block title %}Piquant - Menu{% endblock %}

{% block content %}
<!-- Nav pills -->
<div class="ordernavpillsalign">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#order1">Starters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#order2">Mains</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#order3">Desserts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#order4">Drinks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#order5">Wines</a>
      </li>
        <li class="nav-item">
            <p> Table Number: <br> {{ session['tablenum'] }}</p>
        </li>
        <li class="nav-item">
            <a href = "{{url_for('cart')}}" class="nav-link"> <i class="fa fa-shopping-cart" style="font-size:30px; color:#FCC201"></i> </a>
        </li>
    </ul>
</div>


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="order1">
      <h1 class="display-4 textcenter">Starters</h1>
      {% for a in allitem %}
      {% if a['item_code'][0] == 'S' %}
          <div class="container-fluid" style="padding-top:3em;">
            <h3 class="textcenter"> {{a['item_name']}} </h3>
            <p class="ordermenudesc"> {{a['item_desc']}} </p>
            <p class="ordermenuprice"> ${{a['item_price']}} </p>
            <a href = "{{url_for('addingorder', orderitem=a['item_code'])}}"> <button class="btn btn-primary" style="float:right;"> Add To Cart </button> </a>
          </div>
      {% endif %}
      {% endfor %}
  </div>

  <div class="tab-pane container fade" id="order2">
    <h1 class="display-4 textcenter">Mains</h1>
      {% for a in allitem %}
      {% if a['item_code'][0] == 'M' %}
          <div class="container-fluid" style="padding-top:3em;">
            <h3 class="textcenter"> {{a['item_name']}} </h3>
            <p class="ordermenudesc"> {{a['item_desc']}} </p>
            <p class="ordermenuprice"> ${{a['item_price']}} </p>
            <a href = "{{url_for('addingorder', orderitem=a['item_code'])}}"> <button class="btn btn-primary" style="float:right;"> Add To Cart </button> </a>
          </div>
      {% endif %}
      {% endfor %}
  </div>

  <div class="tab-pane container fade" id="order3">
      <h1 class="display-4 textcenter">Desserts</h1>
      {% for a in allitem %}
      {% if a['item_code'][0] == 'D' %}
          <div class="container-fluid" style="padding-top:3em;">
            <h3 class="textcenter"> {{a['item_name']}} </h3>
            <p class="ordermenudesc"> {{a['item_desc']}} </p>
            <p class="ordermenuprice"> ${{a['item_price']}} </p>
            <a href = "{{url_for('addingorder', orderitem=a['item_code'])}}"> <button class="btn btn-primary" style="float:right;"> Add To Cart </button> </a>
          </div>
      {% endif %}
      {% endfor %}
  </div>


  <div class="tab-pane container fade" id="order4">
      <h1 class="display-4 textcenter">Drinks</h1>
      {% for a in allitem %}
      {% if a['item_code'][0] == 'E' %}
          <div class="container-fluid" style="padding-top:3em;">
            <h3 class="textcenter"> {{a['item_name']}} </h3>
            <p class="ordermenudesc"> {{a['item_desc']}} </p>
            <p class="ordermenuprice"> ${{a['item_price']}} </p>
            <a href = "{{url_for('addingorder', orderitem=a['item_code'])}}"> <button class="btn btn-primary" style="float:right;"> Add To Cart </button> </a>
          </div>
      {% endif %}
      {% endfor %}
  </div>

  <div class="tab-pane container fade" id="order5">
      <h1 class="display-4 textcenter">Wines</h1>
      {% for a in allitem %}
      {% if a['item_code'][0] == 'W' %}
          <div class="container-fluid" style="padding-top:3em;">
            <h3 class="textcenter"> {{a['item_name']}} </h3>
            <p class="ordermenudesc"> {{a['item_desc']}} </p>
            <p class="ordermenuprice"> ${{a['item_price']}} </p>
            <a href = "{{url_for('addingorder', orderitem=a['item_code'])}}"> <button class="btn btn-primary" style="float:right;"> Add To Cart </button> </a>
          </div>
      {% endif %}
      {% endfor %}
  </div>
</div>
<br>
{% endblock %}
