{% extends "base.html" %}
{% block title %}Piquant - Reservation{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h2 class="display-4">Book A Reservation</h2>
<br/>
<form action="" method="post" enctype="multipart/form-data">

  <div>
    <h1>Dietary Restrictions / Allergens</h1>
    <p>Do let us know if you have any dietary allergens and/or are celebrating any special occasions when you make your reservation.We accept most dietaries but do reserve <strong>at least a couple days in advance</strong> so we can prepare for your dietary requirements.</p>
  </div>
  <div>
    {{ render_field(form.full_name, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.phone_number, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.date, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.time, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.card_name, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.cn, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.expire, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.cvv, class="form-control") }}
  </div>
  <div>
    <h1><strong>Warning</strong></h1>
     <p>Failure to appear for your reservation at the timing chosen by yourself will result in multiple consequences.
       Firstly, you will not get a <strong>refund</strong> for the $100 deposit(If you do come, the $100 can be used to pay for your bill and if there is any leftover change, it will be refunded).
       Secondly, you will be placed on the <strong>blacklist</strong> of Restaurant Piquant which means a permanent ban. Thank you for your understanding!
       (If understood, press the button below and your reservation will be set in place).</p>
  </div>
  <div>
    <p>*Please do note that due to the current covid situation, you will have to put down a deposit when reserving a table. This is to reduce/prevent people from not showing up for their reservations. Thank you for your understanding!</p>
  </div>
  <div id="prof">
    <div class="form-group">
      {{ render_field(form.Additional_note, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.selfie, class="form-control-file") }}
    </div>
  </div>
  <input type="submit" value="Next" class="btn btn-primary"/>
</form>
{% endblock %}
