{% extends "base.html" %}
{% block title %}Piquant - Reservation Confirmation{% endblock %}

{% block content %}
<h1 class="display-4 reservecofhead">Confirmation</h1>

<div class="reservecofcontent">
  <div class="reservecofvl"></div>
  <p>Reservation Number: {{get_user['reservation_id']}} </p>
  <p>Email: {{get_user['email']}} </p>
  <p>Date: {{get_user['reservation_date']}} </p>
  <p>Time: {{get_user['reservation_time']}} </p>
  <p>Additional note: {{get_user['additional_note']}} </p>
  <a href="{{ url_for('number')}} "><button class="btn btn-success">Confirm</button></a>
</div>
{% endblock %}
