{% extends "base.html" %}
{% block title %}Piquant - Staff Update Reservation {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<br>
{% block staffnavbar %}
    {% if 'manager_id' in session %}
        {% include 'Includes/Manager_navbar.html' %}
     {% else %}
        {% include 'Includes/Staff_navbar.html' %}
     {% endif %}
    {% endblock %}
<h1 class="display-4">Update User</h1>

<form method="post" action="">
  <div>
    {{ render_field(form.full_name, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.phone_number, class="form-control") }}
  </div>
   <div>
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.date, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.time, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.card_name, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.cn, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.expire, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.cvv, class="form-control") }}
  </div>
  <div>
    {{ render_field(form.Additional_note, class="form-control") }}
  </div>
  <br>
  <h5> Pic Uploaded by user: <br>
        <img src="{{url_for('static', filename='accountsecpic/' + filename + '_mempic1.jpg')}}"  style="width:20%;">
    </h5>
  <br>
    <p> Status: {{ virusresult }} </p>
  <br>
  <input type="submit" value="Submit" class="btn btn-success"/>
</form>
<br>
<a href="{{url_for('retrieve_reserve')}}"> <button class="btn btn-danger"> Back </button></a>
{% endblock %}

