{% extends "base.html" %}
{% block title %}Piquant - Staff Audit{% endblock %}
{% block content %}

{% block javascript %}
    <script src="{{ url_for('static',filename='Javascript/audit_java.js') }}"></script>
{% endblock %}
<br>
{% block staffnavbar %}
    {% if 'manager_id' in session %}
        {% include 'Includes/Manager_navbar.html' %}
     {% else %}
        {% include 'Includes/Staff_navbar.html' %}
     {% endif %}
    {% endblock %}
<br>
<div class="container-fluid">
<div class="row">
    <div class="col-4">
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Piquant</h3>
                </div>

                    <div>
                        <a href="{{url_for('manager_audit')}}" class="text">Audit table</a>
                        </div>
                        <br>
                        <div>
                        <a href="{{url_for('staff_audit_dashboard')}}" class="text">Dashboard</a>
                        </div>

            </nav>
        </div>
    </div>
     <div class="col-8">
        <!-- <div class="audit container-fluid"> -->
           <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
             <h1 class="display-4" style="text-align:center;">Staff Audit</h1>
                  <table id="myTable" class="table table-striped">
                    <tr class="header">
                       <th>Staff Name</th>
                       <th>Login Time</th>
                       <th>Logout Time</th>
                       <th>Action</th>
                      <th>Failed login attempts</th>
                        <th>Role</th>
                    </tr>
                    {% for user in audit %}
                      {% if user['staff_id'] != None %}
                         <tr>
                           <td>{{user['full_name']}}</td>

                           {% if user['login_time'] != None %}
                             <td>{{user['login_time']}}</td>
                           {% else %}
                             <td>--</td>
                           {% endif %}

                           {% if user['logout_time'] != None %}
                            <td>{{user['logout_time']}}</td>
                           {% else %}
                            <td>--</td>
                           {% endif %}

                           {% if user['action'] != None %}
                               <td>{{user['action']}}</td>
                           {% else %}
                               <td>--</td>
                           {% endif %}

                             {% if user['failed_login'] != None %}
                               <td>{{user['failed_login']}}</td>
                           {% else %}
                               <td>--</td>
                           {% endif %}

                           {% if user['role'] != None %}
                               <td>{{user['role']}}</td>
                           {% else %}
                               <td>--</td>
                           {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </table>
        </div>
     </div>
</div>

<br>
<div>
  <a href="{{url_for('staffpage')}}"> <button class="btn btn-danger"> Back </button></a>
</div>


{% endblock %}
