{% extends "base.html" %}
{% block title %}Piquant - Create Staff User {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<br>
{% block staffnavbar %}
    {% if 'manager_id' in session %}
        {% include 'Includes/Manager_navbar.html' %}
     {% else %}
        {% include 'Includes/Staff_navbar.html' %}
     {% endif %}
    {% endblock %}
<link rel="stylesheet" href="{{url_for('static', filename='css/validation.css')}}">
<h2 class="display-4">Create New Staff</h2>
<br/>
<form action="" method="post">
  <div class="form-group">
    {{ render_field(form.full_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div class="form-group">
      <label for="password">
    {{ render_field(form.password, class="form-control", id="password") }}
      <ul class="input-requirements">
					<li>At least 8 characters long (and less than 100 characters)</li>
					<li>Contains at least 1 number</li>
					<li>Contains at least 1 lowercase letter</li>
					<li>Contains at least 1 uppercase letter</li>
					<li>Contains a special character (e.g. @ !)</li>
				</ul>
      </label>
  </div>
  <div class="form-group">
      <label for="confirm">
    {{ render_field(form.confirm, class="form-control", id="confirm")}}

          <ul class="input-requirements">
          <li>Password needs to match the above password</li>
      </ul>

      </label>
  </div>
  <div class="form-group">
    {{ render_field(form.phone_number, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.staff_id, class="form-control") }}
  </div>
    <div class="form-group">
    {{ render_field(form.manager_id, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.job_title, class="form-control") }}
  </div>
  <br>
  {{ msg }}
  <br>
  <input type="submit" value="Next" class="btn btn-success"/>
</form>
<br>
<a href="{{url_for('staffpage')}}"> <button class="btn btn-danger"> Back </button></a>
<script src="{{url_for('static',filename = 'Javascript/CreateMemberScript.js')}}"></script>
{% endblock %}
