{% extends 'base.html' %}
{% block title %}Piquant - Update Staff User{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<br>
{% block staffnavbar %}
    {% if 'manager_id' in session %}
        {% include 'Includes/Manager_navbar.html' %}
     {% else %}
        {% include 'Includes/Staff_navbar.html' %}
     {% endif %}
    {% endblock %}
<h1 class="display-4">Update Info</h1>

<form method="post">
  <div class="form-group">
    {{ render_field(form.full_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.phone_number, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.staff_id, class="form-control") }}
  </div>
    {% if 'manager_id' in session %}
    <div class="form-group">
    {{ render_field(form.manager_id, class="form-control") }}
  </div>
    {% endif %}
  <div class="form-group">
    {{ render_field(form.hire_date, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.job_title, class="form-control") }}
  </div>
<br>
  {{msg}}
<br>
  <br>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
<br>
<a href="{{url_for('staffpage')}}"> <button class="btn btn-danger"> Back </button></a>
{% endblock %}
