{% extends "base.html" %}
{% block title %}Piquant - Staff Audit{% endblock %}
{% block content %}

{% block javascript %}
    <script src="{{ url_for('static',filename='Javascript/audit_java.js') }}"></script>
{% endblock %}
<br>
{% block staffnavbar %}
    {% if 'manager_id' in session %}
        {% include 'Includes/Manager_navbar.html' %}
     {% else %}
        {% include 'Includes/Staff_navbar.html' %}
     {% endif %}
    {% endblock %}
<br>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/custom.css')}}">
    <title>Flask app with logging</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
      $(document).ready(function(){
        var output = document.getElementById('output');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '{{ url_for('stream') }}', true);
        xhr.send();
        setInterval(function() {
          output.textContent = xhr.responseText;
        }, 500);
      });
    </script>


    <style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;

  bottom: 0px;
  right: 28px;
  width: 280px;
}

.backup-button {
background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;

  bottom: 0px;
  right: 350px;
  width: 150px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>

  <body id="main">

  <br>
    <div class="center">
       {{message}}
    </div>
<br>

      <div class="center">
       {{msg}}
    </div>

  <div class="center">
    <a href="/start"> <button  class="w3-container w3-teal"> Start watchdog system </button> </a>
    <a href="/stop"> <button  class="w3-container w3-teal"> Stop watchdog system </button> </a>
    <a href="/clearwatchdog_log"> <button  class="w3-container w3-teal"> Clear Log </button> </a>
</div>

  <br>
  <a href="/backup"> <button  class="backup-button"> Backup App </button> </a>
<button class="open-button" onclick="openForm()">App Recovery</button>

<div class="form-popup" id="myForm">
  <form action="{{ url_for('retrive_file') }}" method="post" autocomplete="off" class="form-container">
    <h1>App Recovery</h1>

    <label><b>File id</b></label>
    <input type="text" placeholder="Enter your file id" name="file_id" id="file_id">

    <button type="submit" class="btn">Retrive</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
  <br>
<br>
  <table style="border: 1px solid black;" class="center">
      <tr>
          <th style="border: 1px solid black;">ID</th>
          <th style="border: 1px solid black;">name</th>
      </tr>
    {% for values in values_list %}
      <tr>
{% for value in values %}
<td style="border: 1px solid black;"> {{ value }} </td>
{% endfor %}


   </tr>
{% endfor %}

</table>

  <br>
  <br>
<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>


    <div class="row">
        <div class="center">
      <h2 class="w3-container w3-blue">Logging will appear here:</h2>

      <div class="logging_window">
      <div class="container-fluid">

        <pre id="output" class="w3-container w3-black"></pre>
        </div>
      </div>

    </div>
    </div>
{% endblock %}
